<div style="background-color: rgb(238, 238, 238); width: 100%; height: fit-content;">
    <div style="padding: 10px; background-color:teal"><b><h3>Task Details</h3></b></div>

    <div class="detailStyle">
        <label>Task Description: {{ task._description }}</label>
        <!-- <label>Task Done: {{ task._done }}</label> -->
    </div>
    <div class="detailStyle">
        <!-- <label>Task Description: {{ task._description }}</label> -->
        <label>Task Done: {{ task._done }}</label>
    </div>
</div>
